@use "variables" as v;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: v.$font-secundaria;
  background-color: black;
  color: v.$light;
  transition: all 500ms;
}
